:root {
  --font1: "Fira Sans", Times, san-Serif;
  --font2: "Frank Ruhl Libre", serif;
  --orange-color: #f17949;
  --yellow-color: #fab131;
  --blue-color: #c7ddea;
  --gray-color: #a9a19e;
}
h1 {
  font-family: var(--font2);
  margin: 0px;
  font-weight: bold;
  font-size: 3rem;
}
body {
  margin: 0;
}
.cta-header {
  font-family: var(--font1);
  padding: 20px 10px 0px 10px;
  background-color: var(--blue-color);
  width: 100%;
}
.full-width {
  width: 100%;
}
p {
  color: #838383;
}
em {
  font-style: normal;
  color: white;
}
button {
  border-radius: 20px;
  background-color: white;
  padding: 10px 30px;
  font-family: var(--font1);
  box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 0.25);
  border: 0px;
}
